In [19]:
import mysql.connector
from mysql.connector import Error

def setup_mariadb():
    """
    Connects to the MariaDB database, drops existing tables,
    creates a new schema, and populates it with sample data.
    """
    try:
        # --- 1. ESTABLISH CONNECTION ---
        conn = mysql.connector.connect(
            host='mariadb',
            user='cinemaflix_user',
            password='user_password',
            database='cinemaflix_db'
        )
        cursor = conn.cursor()
        print("‚úÖ Connection to MariaDB successful.")

        # --- 2. DROP EXISTING TABLES (for a clean setup) ---
        print("Dropping existing tables...")
        cursor.execute("SET FOREIGN_KEY_CHECKS = 0;")
        cursor.execute("DROP TABLE IF EXISTS conteudo_plataforma;")
        cursor.execute("DROP TABLE IF EXISTS conteudo_genero;")
        cursor.execute("DROP TABLE IF EXISTS plataformas;")
        cursor.execute("DROP TABLE IF EXISTS generos;")
        cursor.execute("DROP TABLE IF EXISTS conteudos;")
        cursor.execute("DROP TABLE IF EXISTS usuarios;")
        cursor.execute("SET FOREIGN_KEY_CHECKS = 1;")
        print("Tables dropped.")

        # --- 3. CREATE NEW TABLES ---
        print("Creating new tables...")
        # User table
        cursor.execute("""
            CREATE TABLE usuarios (
                id_usuario INT AUTO_INCREMENT PRIMARY KEY,
                nome_completo VARCHAR(255) NOT NULL,
                email VARCHAR(255) NOT NULL UNIQUE,
                senha_hash VARCHAR(255) NOT NULL,
                data_nascimento DATE,
                data_cadastro TIMESTAMP DEFAULT CURRENT_TIMESTAMP
            )
        """)
        # Content table
        cursor.execute("""
            CREATE TABLE conteudos (
                id_conteudo INT AUTO_INCREMENT PRIMARY KEY,
                titulo VARCHAR(255) NOT NULL,
                sinopse TEXT,
                tipo ENUM('Filme', 'S√©rie') NOT NULL,
                ano_lancamento INT,
                duracao_minutos INT,
                nota_imdb DECIMAL(3, 1)
            )
        """)
        # Genres and Platforms tables
        cursor.execute("CREATE TABLE generos (id_genero INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(100) NOT NULL UNIQUE)")
        cursor.execute("CREATE TABLE plataformas (id_plataforma INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(100) NOT NULL UNIQUE)")
        # Linking tables
        cursor.execute("""
            CREATE TABLE conteudo_genero (
                id_conteudo INT, id_genero INT, PRIMARY KEY (id_conteudo, id_genero),
                FOREIGN KEY (id_conteudo) REFERENCES conteudos(id_conteudo) ON DELETE CASCADE,
                FOREIGN KEY (id_genero) REFERENCES generos(id_genero) ON DELETE CASCADE
            )
        """)
        cursor.execute("""
            CREATE TABLE conteudo_plataforma (
                id_conteudo INT, id_plataforma INT, PRIMARY KEY (id_conteudo, id_plataforma),
                FOREIGN KEY (id_conteudo) REFERENCES conteudos(id_conteudo) ON DELETE CASCADE,
                FOREIGN KEY (id_plataforma) REFERENCES plataformas(id_plataforma) ON DELETE CASCADE
            )
        """)
        print("Tables created successfully.")

        # --- 4. INSERT SAMPLE DATA ---
        print("Inserting sample data...")
        # Base data
        cursor.execute("INSERT INTO usuarios (nome_completo, email, senha_hash, data_nascimento) VALUES ('Ana Silva', 'ana.silva@email.com', 'hash123', '1995-08-20'), ('Bruno Costa', 'bruno.costa@email.com', 'hash456', '1990-03-15')")
        cursor.execute("INSERT INTO generos (nome) VALUES ('A√ß√£o'), ('Drama'), ('Romance'), ('Aventura'), ('Fantasia'), ('Com√©dia'), ('Suspense')")
        cursor.execute("INSERT INTO plataformas (nome) VALUES ('Netflix'), ('Amazon Prime Video'), ('Paramount+'), ('Max'), ('Disney+'), ('Apple TV+')")

        # Content data
        conteudos_data = [
            (1, 'Gladiador II', 'L√∫cio precisa entrar no Coliseu...', 'Filme', 2024, 150, 7.5),
            (2, 'O Senhor dos An√©is: A Sociedade do Anel', 'Um hobbit recebe de presente um anel m√°gico...', 'Filme', 2001, 178, 8.9),
            (3, 'House', 'No fict√≠cio Hospital-Escola Plainsboro...', 'S√©rie', 2004, 44, 8.7),
            (4, 'Shrek', 'Um ogro tem sua vida invadida por personagens de contos de fadas...', 'Filme', 2001, 90, 7.9),
            (5, 'Titanic', 'Um artista pobre e uma jovem rica se conhecem...', 'Filme', 1997, 195, 7.9),
            (6, 'Band of Brothers', 'A hist√≥ria da Easy Company...', 'S√©rie', 2001, 60, 9.4)
        ]
        cursor.executemany("INSERT INTO conteudos (id_conteudo, titulo, sinopse, tipo, ano_lancamento, duracao_minutos, nota_imdb) VALUES (%s, %s, %s, %s, %s, %s, %s)", conteudos_data)

        # Linking data
        conteudo_genero_data = [(1, 1), (1, 2), (2, 4), (2, 5), (3, 2), (3, 7), (4, 6), (4, 5), (5, 2), (5, 3), (6, 1), (6, 2)]
        conteudo_plataforma_data = [(1, 3), (2, 2), (2, 4), (3, 2), (3, 4), (4, 1), (4, 2), (5, 5), (6, 4)]
        cursor.executemany("INSERT INTO conteudo_genero (id_conteudo, id_genero) VALUES (%s, %s)", conteudo_genero_data)
        cursor.executemany("INSERT INTO conteudo_plataforma (id_conteudo, id_plataforma) VALUES (%s, %s)", conteudo_plataforma_data)

        conn.commit()
        print("Sample data inserted successfully.")
        print("\nüéâ MariaDB setup is complete!")

    except Error as e:
        print(f"‚ùå Error during MariaDB setup: {e}")
    finally:
        if conn and conn.is_connected():
            cursor.close()
            conn.close()
            print("Connection to MariaDB is closed.")

# --- Execute the setup function ---
setup_mariadb()

‚úÖ Connection to MariaDB successful.
Dropping existing tables...
Tables dropped.
Creating new tables...
Tables created successfully.
Inserting sample data...
Sample data inserted successfully.

üéâ MariaDB setup is complete!
Connection to MariaDB is closed.

# Neo4j - Cria√ß√£o da base de dados "mockada"

In [48]:
%reload_ext neo4j_cypher_query

In [46]:
from neo4j import GraphDatabase

def setup_neo4j():
    """
    Connects to the Neo4j database, clears existing data,
    and creates a new graph structure with sample nodes and relationships.
    """
    uri = "neo4j://neo4j:7687"
    user = "neo4j"
    password = "strong_password"
    driver = None

    try:
        # --- 1. ESTABLISH CONNECTION ---
        driver = GraphDatabase.driver(uri, auth=(user, password))
        session = driver.session()
        print("Connection to Neo4j successful.")

        # --- 2. CLEAR EXISTING DATABASE (for a clean setup) ---
        print("Clearing existing database...")
        session.run("MATCH (n) DETACH DELETE n")
        print("Database cleared.")

        # --- 3. CREATE GRAPH SCHEMA AND DATA ---
        print("Creating graph nodes and relationships...")
        # This single, large query creates all nodes and relationships in one go.
        # MERGE is used to avoid creating duplicates if run multiple times.
        graph_query = """
// ===============================
// Apagar tudo 
// ===============================

MATCH (n)
DETACH DELETE n
        """
        session.run(graph_query)
        graph_query = """
// ===============================
// G√äNEROS
// ===============================
MERGE (:Genre {nome: "A√ß√£o"})
MERGE (:Genre {nome: "Drama"})
MERGE (:Genre {nome: "Com√©dia"})
MERGE (:Genre {nome: "Fic√ß√£o"})
MERGE (:Genre {nome: "Suspense"})
        """
        session.run(graph_query)
        print("Graph data G√äNEROS created successfully.")
        graph_query = """
// ===============================
//  V√çDEOS
// ===============================
CREATE
  (v1:Video {id: "v1", titulo: "Matrix", tipo: "filme"}),
  (v2:Video {id: "v2", titulo: "Inception", tipo: "filme"}),
  (v3:Video {id: "v3", titulo: "Breaking Bad", tipo: "serie"}),
  (v4:Video {id: "v4", titulo: "Stranger Things", tipo: "serie"}),
  (v5:Video {id: "v5", titulo: "O Poderoso Chef√£o", tipo: "filme"}),
  (v6:Video {id: "v6", titulo: "Friends", tipo: "serie"}),
  (v7:Video {id: "v7", titulo: "The Office", tipo: "serie"}),
  (v8:Video {id: "v8", titulo: "John Wick", tipo: "filme"}),
  (v9:Video {id: "v9", titulo: "Dark", tipo: "serie"}),
  (v10:Video {id: "v10", titulo: "La Casa de Papel", tipo: "serie"}),
  (v11:Video {id: "v11", titulo: "Black Mirror", tipo: "serie"}),
  (v12:Video {id: "v12", titulo: "Sherlock", tipo: "serie"}),
  (v13:Video {id: "v13", titulo: "Vikings", tipo: "serie"}),
  (v14:Video {id: "v14", titulo: "Peaky Blinders", tipo: "serie"}),
  (v15:Video {id: "v15", titulo: "The Mandalorian", tipo: "serie"})

        """
        session.run(graph_query)
        print("Graph data V√çDEOS created successfully.")
        graph_query = """
        
// ===============================
//  ASSOCIAR V√çDEOS A G√äNEROS
// ===============================
MATCH (a:Genre {nome: "A√ß√£o"}), (d:Genre {nome: "Drama"}), (c:Genre {nome: "Com√©dia"}), 
      (f:Genre {nome: "Fic√ß√£o"}), (s:Genre {nome: "Suspense"})
MATCH 
  (v1:Video {id: "v1"}), (v2:Video {id: "v2"}), (v3:Video {id: "v3"}), (v4:Video {id: "v4"}),
  (v5:Video {id: "v5"}), (v6:Video {id: "v6"}), (v7:Video {id: "v7"}), (v8:Video {id: "v8"}),
  (v9:Video {id: "v9"}), (v10:Video {id: "v10"}), (v11:Video {id: "v11"}), (v12:Video {id: "v12"}),
  (v13:Video {id: "v13"}), (v14:Video {id: "v14"}), (v15:Video {id: "v15"})
MERGE (v1)-[:HAS_GENRE]->(a)
MERGE (v2)-[:HAS_GENRE]->(f)
MERGE (v3)-[:HAS_GENRE]->(d)
MERGE (v4)-[:HAS_GENRE]->(f)
MERGE (v5)-[:HAS_GENRE]->(d)
MERGE (v6)-[:HAS_GENRE]->(c)
MERGE (v7)-[:HAS_GENRE]->(c)
MERGE (v8)-[:HAS_GENRE]->(a)
MERGE (v9)-[:HAS_GENRE]->(s)
MERGE (v10)-[:HAS_GENRE]->(a)
MERGE (v11)-[:HAS_GENRE]->(s)
MERGE (v12)-[:HAS_GENRE]->(s)
MERGE (v13)-[:HAS_GENRE]->(a)
MERGE (v14)-[:HAS_GENRE]->(d)
MERGE (v15)-[:HAS_GENRE]->(f);

        """
        session.run(graph_query)
        print("Graph data ASSOCIAR V√çDEOS A G√äNEROS created successfully.")
        graph_query = """
        
// ===============================
// USU√ÅRIOS
// ===============================
UNWIND range(1, 10) AS i
CREATE (:User {id: 'u' + i, nome: 'Usuario ' + i});

        """
        session.run(graph_query)
        print("Graph data USU√ÅRIOS created successfully.")
        graph_query = """
        
// ===============================
// VISUALIZA√á√ïES ALEAT√ìRIAS
// ===============================
UNWIND range(1, 10) AS i
MATCH (u:User {id: 'u' + i})
WITH u
MATCH (v:Video)
WITH u, v, rand() AS r
WHERE r < 0.6
MERGE (u)-[:WATCHED {timestamp: timestamp()}]->(v);

        """
        session.run(graph_query)
        print("Graph data VISUALIZA√á√ïES ALEAT√ìRIAS created successfully.")
        graph_query = """
        
// ===============================
//  CURTIDAS
// ===============================
MATCH (u:User)-[w:WATCHED]->(v:Video)
WITH u, v, rand() AS r
WHERE r < 0.3
MERGE (u)-[:LIKED]->(v);

        """
        session.run(graph_query)
        print("Graph data CURTIDAS created successfully.")
        graph_query = """
        
// ===============================
// AVALIA√á√ïES (RATING)
// ===============================
MATCH (u:User)-[w:WATCHED]->(v:Video)
WITH u, v, rand() AS r
WHERE r < 0.5
WITH u, v, toInteger(1 + rand() * 5) AS nota
MERGE (u)-[:RATED {nota: nota}]->(v);

        """
        session.run(graph_query)
        print("Graph data AVALIA√á√ïES (RATING) created successfully.")
        graph_query = """
        

// ===============================
// G√äNERO FAVORITO
// ===============================
MATCH (:User)-[r:FAVORITE_GENRE]->(:Genre)
DELETE r;

        """
        session.run(graph_query)
        graph_query = """
        
MATCH (u:User)-[:WATCHED]->(v:Video)-[:HAS_GENRE]->(g:Genre)
WITH u, g, count(*) AS qtd
ORDER BY qtd DESC
WITH u, collect({g: g, qtd: qtd}) AS generos

UNWIND generos AS item
WITH u, item.g AS g, item.qtd AS qtd, generos[0].qtd AS max_qtd
WHERE qtd = max_qtd
MERGE (u)-[:FAVORITE_GENRE]->(g);

        """
        session.run(graph_query)
        print("Graph data G√äNERO FAVORITO created successfully.")
        
        print("Graph data created successfully.")
        print("\nNeo4j setup is complete!")

    except Exception as e:
        print(f" Error during Neo4j setup: {e}")
    finally:
        if driver:
            driver.close()
            print("Connection to Neo4j is closed.")

# --- Execute the setup function ---
setup_neo4j()

Connection to Neo4j successful.
Clearing existing database...
Database cleared.
Creating graph nodes and relationships...
Graph data G√äNEROS created successfully.
Graph data V√çDEOS created successfully.
Graph data ASSOCIAR V√çDEOS A G√äNEROS created successfully.
Graph data USU√ÅRIOS created successfully.
Graph data VISUALIZA√á√ïES ALEAT√ìRIAS created successfully.
Graph data CURTIDAS created successfully.
Graph data AVALIA√á√ïES (RATING) created successfully.
Graph data G√äNERO FAVORITO created successfully.
Graph data created successfully.

Neo4j setup is complete!
Connection to Neo4j is closed.

# Visualizar a base de dados:

In [54]:
%%cypher

match (a)-[r]->(b)
match (c)

return *

GraphWidget(layout=Layout(height='800px', width='100%'))

# Recomendacao outros filmes e s√©ries do tipo Quem viu, viu tamb√©m para o usu√°rio u1
##### OBS: Pode ser necess√°rio trocar o u1 por u2 ... u10

In [92]:
%%cypher

MATCH (u1:User {id: "u1"})-[:WATCHED]->(v:Video)<-[:WATCHED]-(u2:User)-[:WATCHED]->(rec:Video)
WHERE u1 <> u2 AND NOT (u1)-[:WATCHED]->(rec)
RETURN DISTINCT rec AS recomendacao
LIMIT 5;

GraphWidget(layout=Layout(height='500px', width='100%'))

# Recomenda√ß√£o filmes e s√©ries mais bem avaliados por todos os usu√°rios (m√©dia da nota). 
##### √ötil para a se√ß√£o EM ALTA no prot√≥tipo.

In [101]:
%%cypher

MATCH (v:Video)<-[r:RATED]-()
RETURN v, avg(r.nota) AS media, count(*) AS votos
ORDER BY media DESC, votos DESC
LIMIT 5;

GraphWidget(layout=Layout(height='500px', width='100%'))

# Recomenda√ß√£o filmes e s√©ries para o usuario u1 com base nos seus g√™neros favoritos. 
##### √ötil para a se√ß√£o PARA VOC√ä  no prot√≥tipo.
##### OBS: Pode ser necess√°rio trocar o u1 por u2 ... u10

In [98]:
%%cypher

MATCH (u:User {id: "u1"})-[:FAVORITE_GENRE]->(g:Genre)
MATCH (rec:Video)-[:HAS_GENRE]->(g)
WHERE NOT (u)-[:WATCHED]->(rec)
RETURN DISTINCT rec 
LIMIT 5;

GraphWidget(layout=Layout(height='500px', width='100%'))