In [1]:
%load_ext sql

In [2]:
# Conecte-se ao seu banco de dados MariaDB usando a string de conexão
%sql mysql+mysqlconnector://cinemaflix_user:user_password@mariadb:3306/cinemaflix_db

In [3]:
%%sql

SHOW DATABASES;

 * mysql+mysqlconnector://cinemaflix_user:***@mariadb:3306/cinemaflix_db
2 rows affected.

[('cinemaflix_db',), ('information_schema',)]

In [4]:
%%sql

SHOW TABLES;

 * mysql+mysqlconnector://cinemaflix_user:***@mariadb:3306/cinemaflix_db
0 rows affected.

[]

In [5]:
%reload_ext neo4j_cypher_query

In [7]:
%%cypher show full graph
CREATE (n1:Pessoa {nome:'Horácio', apelido:'Hora'})-[r:GOSTOU_DE]->(n2:Filme {titulo:'Django', ano:2012})

Unable to retrieve routing information

show full graph

ServiceUnavailable: Unable to retrieve routing information

In [9]:
from neo4j import GraphDatabase

def setup_neo4j():
    """
    Connects to the Neo4j database, clears existing data,
    and creates a new graph structure with sample nodes and relationships.
    """
    uri = "neo4j://neo4j:7687"
    user = "neo4j"
    password = "strong_password"
    driver = None

    try:
        # --- 1. ESTABLISH CONNECTION ---
        driver = GraphDatabase.driver(uri, auth=(user, password))
        session = driver.session()
        print("✅ Connection to Neo4j successful.")

        # --- 2. CLEAR EXISTING DATABASE (for a clean setup) ---
        print("Clearing existing database...")
        session.run("MATCH (n) DETACH DELETE n")
        print("Database cleared.")

        # --- 3. CREATE GRAPH SCHEMA AND DATA ---
        print("Creating graph nodes and relationships...")
        # This single, large query creates all nodes and relationships in one go.
        # MERGE is used to avoid creating duplicates if run multiple times.
        graph_query = """
        // Create User nodes
        MERGE (u1:Usuario {id_usuario: 1, nome: 'Ana Silva'})
        MERGE (u2:Usuario {id_usuario: 2, nome: 'Bruno Costa'})

        // Create Content nodes
        MERGE (c1:Conteudo {id_conteudo: 1, titulo: 'Gladiador II'})
        MERGE (c2:Conteudo {id_conteudo: 2, titulo: 'O Senhor dos Anéis: A Sociedade do Anel'})
        MERGE (c3:Conteudo {id_conteudo: 3, titulo: 'House'})
        MERGE (c4:Conteudo {id_conteudo: 4, titulo: 'Shrek'})
        MERGE (c5:Conteudo {id_conteudo: 5, titulo: 'Titanic'})
        MERGE (c6:Conteudo {id_conteudo: 6, titulo: 'Band of Brothers'})

        // Create Genre nodes
        MERGE (g_acao:Genero {nome: 'Ação'})
        MERGE (g_drama:Genero {nome: 'Drama'})
        MERGE (g_romance:Genero {nome: 'Romance'})
        MERGE (g_aventura:Genero {nome: 'Aventura'})
        MERGE (g_fantasia:Genero {nome: 'Fantasia'})
        MERGE (g_comedia:Genero {nome: 'Comédia'})
        MERGE (g_suspense:Genero {nome: 'Suspense'})

        // Create relationships: Content -> Genre
        MERGE (c1)-[:PERTENCE_AO_GENERO]->(g_acao)
        MERGE (c1)-[:PERTENCE_AO_GENERO]->(g_drama)
        MERGE (c2)-[:PERTENCE_AO_GENERO]->(g_fantasia)
        MERGE (c2)-[:PERTENCE_AO_GENERO]->(g_aventura)
        MERGE (c3)-[:PERTENCE_AO_GENERO]->(g_drama)
        MERGE (c3)-[:PERTENCE_AO_GENERO]->(g_suspense)
        MERGE (c4)-[:PERTENCE_AO_GENERO]->(g_comedia)
        MERGE (c4)-[:PERTENCE_AO_GENERO]->(g_fantasia)
        MERGE (c5)-[:PERTENCE_AO_GENERO]->(g_drama)
        MERGE (c5)-[:PERTENCE_AO_GENERO]->(g_romance)
        MERGE (c6)-[:PERTENCE_AO_GENERO]->(g_acao)
        MERGE (c6)-[:PERTENCE_AO_GENERO]->(g_drama)

        // Create relationships: User -> Content (Interactions)
        // Ana's interactions
        MERGE (u1)-[:ASSISTIU]->(c2)
        MERGE (u1)-[:AVALIOU {nota: 5}]->(c2)
        MERGE (u1)-[:FAVORITOU]->(c2)
        MERGE (u1)-[:ASSISTIU]->(c4)
        MERGE (u1)-[:AVALIOU {nota: 4}]->(c4)
        MERGE (u1)-[:ASSISTIU]->(c5)
        MERGE (u1)-[:DEU_DISLIKE]->(c5)

        // Bruno's interactions
        MERGE (u2)-[:ASSISTIU]->(c1)
        MERGE (u2)-[:AVALIOU {nota: 4}]->(c1)
        MERGE (u2)-[:ASSISTIU]->(c6)
        MERGE (u2)-[:AVALIOU {nota: 5}]->(c6)
        MERGE (u2)-[:FAVORITOU]->(c6)
        MERGE (u2)-[:ASSISTIU]->(c2)
        MERGE (u2)-[:AVALIOU {nota: 4}]->(c2)
        """
        session.run(graph_query)
        print("Graph data created successfully.")
        print("\n🎉 Neo4j setup is complete!")

    except Exception as e:
        print(f"❌ Error during Neo4j setup: {e}")
    finally:
        if driver:
            driver.close()
            print("Connection to Neo4j is closed.")

# --- Execute the setup function ---
setup_neo4j()

✅ Connection to Neo4j successful.
Clearing existing database...
Database cleared.
Creating graph nodes and relationships...
Graph data created successfully.

🎉 Neo4j setup is complete!
Connection to Neo4j is closed.

In [ ]:
import mysql.connector
from mysql.connector import Error

def setup_mariadb():
    """
    Connects to the MariaDB database, drops existing tables,
    creates a new schema, and populates it with sample data.
    """
    try:
        # --- 1. ESTABLISH CONNECTION ---
        conn = mysql.connector.connect(
            host='mariadb',
            user='cinemaflix_user',
            password='user_password',
            database='cinemaflix_db'
        )
        cursor = conn.cursor()
        print("✅ Connection to MariaDB successful.")

        # --- 2. DROP EXISTING TABLES (for a clean setup) ---
        print("Dropping existing tables...")
        cursor.execute("SET FOREIGN_KEY_CHECKS = 0;")
        cursor.execute("DROP TABLE IF EXISTS conteudo_plataforma;")
        cursor.execute("DROP TABLE IF EXISTS conteudo_genero;")
        cursor.execute("DROP TABLE IF EXISTS plataformas;")
        cursor.execute("DROP TABLE IF EXISTS generos;")
        cursor.execute("DROP TABLE IF EXISTS conteudos;")
        cursor.execute("DROP TABLE IF EXISTS usuarios;")
        cursor.execute("SET FOREIGN_KEY_CHECKS = 1;")
        print("Tables dropped.")

        # --- 3. CREATE NEW TABLES ---
        print("Creating new tables...")
        # User table
        cursor.execute("""
            CREATE TABLE usuarios (
                id_usuario INT AUTO_INCREMENT PRIMARY KEY,
                nome_completo VARCHAR(255) NOT NULL,
                email VARCHAR(255) NOT NULL UNIQUE,
                senha_hash VARCHAR(255) NOT NULL,
                data_nascimento DATE,
                data_cadastro TIMESTAMP DEFAULT CURRENT_TIMESTAMP
            )
        """)
        # Content table
        cursor.execute("""
            CREATE TABLE conteudos (
                id_conteudo INT AUTO_INCREMENT PRIMARY KEY,
                titulo VARCHAR(255) NOT NULL,
                sinopse TEXT,
                tipo ENUM('Filme', 'Série') NOT NULL,
                ano_lancamento INT,
                duracao_minutos INT,
                nota_imdb DECIMAL(3, 1)
            )
        """)
        # Genres and Platforms tables
        cursor.execute("CREATE TABLE generos (id_genero INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(100) NOT NULL UNIQUE)")
        cursor.execute("CREATE TABLE plataformas (id_plataforma INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(100) NOT NULL UNIQUE)")
        # Linking tables
        cursor.execute("""
            CREATE TABLE conteudo_genero (
                id_conteudo INT, id_genero INT, PRIMARY KEY (id_conteudo, id_genero),
                FOREIGN KEY (id_conteudo) REFERENCES conteudos(id_conteudo) ON DELETE CASCADE,
                FOREIGN KEY (id_genero) REFERENCES generos(id_genero) ON DELETE CASCADE
            )
        """)
        cursor.execute("""
            CREATE TABLE conteudo_plataforma (
                id_conteudo INT, id_plataforma INT, PRIMARY KEY (id_conteudo, id_plataforma),
                FOREIGN KEY (id_conteudo) REFERENCES conteudos(id_conteudo) ON DELETE CASCADE,
                FOREIGN KEY (id_plataforma) REFERENCES plataformas(id_plataforma) ON DELETE CASCADE
            )
        """)
        print("Tables created successfully.")

        # --- 4. INSERT SAMPLE DATA ---
        print("Inserting sample data...")
        # Base data
        cursor.execute("INSERT INTO usuarios (nome_completo, email, senha_hash, data_nascimento) VALUES ('Ana Silva', 'ana.silva@email.com', 'hash123', '1995-08-20'), ('Bruno Costa', 'bruno.costa@email.com', 'hash456', '1990-03-15')")
        cursor.execute("INSERT INTO generos (nome) VALUES ('Ação'), ('Drama'), ('Romance'), ('Aventura'), ('Fantasia'), ('Comédia'), ('Suspense')")
        cursor.execute("INSERT INTO plataformas (nome) VALUES ('Netflix'), ('Amazon Prime Video'), ('Paramount+'), ('Max'), ('Disney+'), ('Apple TV+')")

        # Content data
        conteudos_data = [
            (1, 'Gladiador II', 'Lúcio precisa entrar no Coliseu...', 'Filme', 2024, 150, 7.5),
            (2, 'O Senhor dos Anéis: A Sociedade do Anel', 'Um hobbit recebe de presente um anel mágico...', 'Filme', 2001, 178, 8.9),
            (3, 'House', 'No fictício Hospital-Escola Plainsboro...', 'Série', 2004, 44, 8.7),
            (4, 'Shrek', 'Um ogro tem sua vida invadida por personagens de contos de fadas...', 'Filme', 2001, 90, 7.9),
            (5, 'Titanic', 'Um artista pobre e uma jovem rica se conhecem...', 'Filme', 1997, 195, 7.9),
            (6, 'Band of Brothers', 'A história da Easy Company...', 'Série', 2001, 60, 9.4)
        ]
        cursor.executemany("INSERT INTO conteudos (id_conteudo, titulo, sinopse, tipo, ano_lancamento, duracao_minutos, nota_imdb) VALUES (%s, %s, %s, %s, %s, %s, %s)", conteudos_data)

        # Linking data
        conteudo_genero_data = [(1, 1), (1, 2), (2, 4), (2, 5), (3, 2), (3, 7), (4, 6), (4, 5), (5, 2), (5, 3), (6, 1), (6, 2)]
        conteudo_plataforma_data = [(1, 3), (2, 2), (2, 4), (3, 2), (3, 4), (4, 1), (4, 2), (5, 5), (6, 4)]
        cursor.executemany("INSERT INTO conteudo_genero (id_conteudo, id_genero) VALUES (%s, %s)", conteudo_genero_data)
        cursor.executemany("INSERT INTO conteudo_plataforma (id_conteudo, id_plataforma) VALUES (%s, %s)", conteudo_plataforma_data)

        conn.commit()
        print("Sample data inserted successfully.")
        print("\n🎉 MariaDB setup is complete!")

    except Error as e:
        print(f"❌ Error during MariaDB setup: {e}")
    finally:
        if conn and conn.is_connected():
            cursor.close()
            conn.close()
            print("Connection to MariaDB is closed.")

# --- Execute the setup function ---
setup_mariadb()

In [ ]:
import mysql.connector
import pandas as pd
from mysql.connector import Error

# Configuration to connect to the MariaDB container
config = {
    'host': 'mariadb',
    'user': 'cinemaflix_user',
    'password': 'user_password',
    'database': 'cinemaflix_db' # The database is selected here!
}

try:
    # Establish the connection
    conn = mysql.connector.connect(**config)
    print("✅ Connection to MariaDB successful.")
except Error as e:
    print(f"❌ Error connecting to MariaDB: {e}")
    conn = None # Ensure conn is None if connection fails

In [1]:
if conn and conn.is_connected():
    df_databases = pd.read_sql("SHOW DATABASES;", conn)
    display(df_databases)

NameError: name 'conn' is not defined

In [ ]:
if conn and conn.is_connected():
    df_tables = pd.read_sql("SHOW TABLES;", conn)
    display(df_tables)

In [ ]:
if conn and conn.is_connected():
    conn.close()
    print("Connection to MariaDB is closed.")